.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fff;

  .neoskop-logo,
  .kaiwa-logo {
    max-width: 7.5rem;
    width: 100%;
  }

  .x-logo {
    max-width: 1.75rem;
    width: 100%;
  }

  @media screen and (max-width: 375px) {
    .neoskop-logo,
    .x-logo {
      display: none;
    }
  }
}
